<%= f.error_messages %>

<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :cost %><br />
  <%= f.text_field :cost %>
</p>
<p>
  <%= f.label :budget_id %><br />
  <%= f.text_field :budget_id %>
</p>